<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Гостевая книга на Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body class="p-3">
    <section id="vm">
        <form method="post" @submit.prevent="addMessage">
            <div class="form-group">
                <label for="componentEmailInput">Адрес электронной почты</label>
                <input type="email" class="form-control" placeholder="Адрес электронной почты"
                 v-model="email" id="componentEmailInput">
            </div>
            <div class="form-group">
                <label for="componentMessageInput">Ваше сообщение</label>
                <textarea class="form-control" placeholder="Ваше сообщение"
                id="componentMessageInput" v-model="text" required></textarea>
            </div>
            <button type="submit"  class="btn btn-primary mt-2">Отправить сообщение</button>
        </form>
        <hr v-if="messages.length">
        <message v-for="message in messages" :message="message">
    </section>
    <script src="index.js"></script>
</body>
</html>